.sima { background-color: black;
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    right: 10px;
    position: absolute;
    top: 79px;
    left: 86px;
}

    .btn {    background: black;
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    bottom: 257px;
    left: 105px;
    position: relative;
    z-index: 3;
}


    #botao {background-color: white;
        border: none;}

        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background:  #f0f0f0;
            font-family: Arial, sans-serif;
        }
        
        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            background: transparent;
        }
        
        .box {
            position: relative;
            width: 136px;
            height: 83px;
            background: url(fotos/caixa.png) no-repeat center center;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            overflow: visible;
            z-index: 2;
            left: -76px;
            top: 155px;
    
        }
        
        .lid {
            position: absolute;
            left: -17px;
            width: 130%;
            height: 79px;
            background: url(fotos/tampa.png) no-repeat center center;
            background-size: cover;
            z-index: 3;
            transition: transform 0.5s ease-in-out;
            transform: scaleY(0.8);
            top: -60px;
        }
        
        /* Faz a tampa deslizar para o lado */
        .box.open .lid {
            transform: translateX(150px); /* Desliza para a direita */
            
        }
        
        .content {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
            z-index: 1; /* QR Code começa abaixo da caixa */
        }
        
        .qrcode {
            width: 138px;
            height: 168px;
            opacity: 0;
            position: relative;
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
            overflow: visible; /* Permite que o QR Code saia da caixa */
        }
        
        /* Quando a caixa abre, o QR Code sobe */
        .box.open .qrcode {
            opacity: 1;
            transform: translateY(-120px); /* QR Code sobe e ultrapassa a caixa */
        }


        
        
        
        


    
    
    
    
